:root {
	--primary: #0091ff;
	--dark: #061b28;
	--gray: #756388;
	--light: #ffffff;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.boxShadow{
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
@media screen and (max-width: 768px) {
  .xs_width_100{
    width: 100% !important;
  }

  
}

.side-nav-container {
	background-color: var(--dark) ;
	width: 355px ;
	height: 100vh;
	position: relative;
	color: var(--light);

	transition: 0.4s;
}
.side-nav-container-NX {
	width: 90px;
}
a{
	text-decoration: none;
}
a:hover{
	color: white;
}
.text-color-light{
	color: var(--light);
	
}
.nav-item{
	border-radius: 4px;
}
.nav-item:hover{
	background-color: var(--primary);
}
.nav-footer {
	width: 100%;
	height: 87px;
	position: absolute;
	bottom: 0;
}


